* {
    text-align: center;
    margin: 0%;
}
#container {
    height : 450px;
    width: 450px;
    border: 1px solid gainsboro;
    background-color: gainsboro;
    padding: 0px;
    display: grid;
    margin : auto;
}

.pixel {
    border: 1px solid gainsboro;
    height: auto;
    width: auto;
    margin: 0px;
    padding: 0px;
}

.board {
    background-color: black;
    border: 1px solid black;
}

#frame {
    margin : auto;
    height: 100vh;
    width : 500px;
    background-color: gray;

}

body {
    background: linear-gradient(to left, gray , gainsboro , gray);
}